.TodoList {
  background: #2980b9;  /* fallback for old browsers */  /* Chrome 10-25, Safari 5.1-6 */
  background: -o-linear-gradient(left, #2c3e50, #2980b9);
  background: -webkit-gradient(linear, left top, right top, from(#2c3e50), to(#2980b9));
  background: linear-gradient(to right, #2c3e50, #2980b9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border: 1px solid black;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: sans-serif;
  height: 70vh;
  width: 50vw;  
}

.TodoList h1 {
  color: lightblue;
  text-shadow: 1px 1px 3px black;
}

.TodoList-list {
  list-style-type: none;
  padding: 0;
  width: 80%; 
}

@media (max-width: 1320px) {
  .TodoList {
    width: 70vw;
  }
  .TodoList-list {
    width: 90%;
  }
}

@media (max-width: 762px) {
  .TodoList {
    width: 90vw;
  }
  .TodoList-list {
    width: 90%;
  }
}

@media (max-width: 548px) {
  .TodoList {
    border: none;
    height: 100%;
    width: 100%;
  }
  .TodoList-list {
    width: 95%;
  }
}