.TodoList {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 30px;
  min-height: 80vh;
  margin-top: 50px;
  width: 50vw;
  background: #2980b9;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2c3e50, #2980b9);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2c3e50, #2980b9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border: 1px solid black;
  border-radius: 10px;
}

.TodoList h1 {
  color: lightblue;
  text-shadow: 1px 1px 3px black;
}

.TodoList-list {
  padding: 0;
  width: 80%;
  list-style-type: none;
}

@media (max-width: 1320px) {
  .TodoList-list {
    width: 90%;
  }
}
